:root {
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 500;
    --text-first: #02577A;
    --text-second: #C4C4C4;
    --bg-navcolor: #F7F6FF;
    --bg-maincolor: #EBEEF5;
}

body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

.container {
    width: 100%;
    height: 100vh;
    background-color: var(--bg-maincolor);
}

.colum {
    float: left;
}

.colum-main {
    height: 50vh;
}

.colum-footer {
    width: 80%;
    height: 50vh; 
}

.logobar {
    position: relative;
    width: 68px;
    height: 108px;
    left: 16px;
    border: 2px solid #C4C4C4;
    border-top: none;
    border-left: none;
    border-right: none;
}

.logo {
    position: relative;
    top: 52px;
}

.navbar {
    width: 100px;
    height: 100vh;
    background-color: var(--bg-navcolor);
}

.navbar-ul {
    display: flex;
    flex-direction: column;
    margin-top: 31.97px;
    align-items: center;
}

.navbar-li {
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    margin-top: 34px;
}

.navbar-home {
    margin-bottom: 50px;
}

.navbar-li img {
    width: 25px;
    height: 25px;
    margin-left: 32px;
}

.navbar-a {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: row;
    text-decoration: none;
    color: var(--text-second);
}

.navbar-p {
    position: relative;
    display: none;
    left: 19px;
    line-height: 20px;

}

.navbar:hover {
    width: 206px;
    padding-left: 11px;
    transition: 0.4s;
}

.navbar:hover .navbar-p {
    display: block;
}


.navbar-a:hover {
    width: 195px;
    height: 57px;
    border: #ffffff;
    border-top-left-radius: 20px ;
    border-bottom-left-radius: 20px;
    background-color: #ffffff;
}

.navbar:hover .logo {
    left: 30px;
    transition: 0.4s;
}

.navbar:hover .logobar {
    width: 128.22px;
    left: 39px;
}

.footer-p {
    position: relative;
    top: 90%;
    text-align: center;
}